

img {
  border: 0px solid blue;
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  height: 40px;
}

input[type=text] {
  width: 30%;
}

.label {
  border-style: solid;  
  border-color: blue;
  padding-top: 10;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* .label-xsmall {
  vertical-align: super;
  font-size: x-small;
}

.label-small {
  vertical-align: super;
  font-size: small;
}

.label-medium {
  vertical-align: super;
  font-size: medium;
}

.label-large {
  vertical-align: super;
  font-size: large;
}

.label-large-extra {
  vertical-align: super;
  font-size: x-large;
}

.label-large-large-extra {  
  font-size: xx-large;
}

.label-bs {
  vertical-align: super;
} */